*node_modules/*

.DS_Store
package-lock.json

assets/css/bootstrap.min.css
assets/css/fontawesome.css
assets/css/fontawesome.min.css
assets/css/slick-theme.css
assets/css/slick-theme.min.css
assets/css/slick.min.css

assets/img/
assets/webfonts/

assets/js/bootstrap.bundle.min.js
assets/js/jquery-1.11.0.min.js
assets/js/jquery-migrate-1.2.1.min.js
assets/js/slick.min.js