@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Jura", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  background-size: cover;
}
.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
}
.progress-bar {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 8rem;
  height: 8rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 200;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.navbar {
  position: fixed;
  top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  z-index: 100;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}

.navbar-link {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 0 2.5rem;
  text-shadow: 0 0.3rem 0.5rem #000;
}

.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.circle {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  opacity: 0.5;
  position: relative;
  top: 0;
  left: 0;
  transition: left 2s, top 2s;
}

.circle-1 {
  background: url(images/landing/monster3.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dotted #a14b1a;
  margin-left: -10rem;
}

.circle-2 {
  background: url(images/landing/monster4.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.5rem dashed #ffbd07;
  margin-right: -10rem;
}

.circle-3 {
  background: url(images/landing/monster5.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 1rem double #9b0e0e;
  margin-left: -10rem;
}

.circle-4 {
  background: url(images/landing/monster6.jpg) center no-repeat;
  background-size: cover;
  background-clip: content-box;
  border: 0.7rem double #fff;
  margin-right: -10rem;
}

.main-circle {
  width: 55rem;
  height: 55rem;
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
}

.main-circle:hover {
  width: 75rem;
  height: 75rem;
}

.main-circle img {
  mix-blend-mode: color-dodge;
  position: relative;
  top: 0;
  left: 0;
  transition: left 2s, top 2s;
}

.section-2 {
  position: relative;
  padding: 10rem 10rem 15rem 10rem;
}
.about-me-text {
  width: 80%;
  margin: auto;
  color: white;
  font-size: 150px;
}
.slider {
  align-items: center;
  width: 90vw;
  max-width: 90em;
  height: 50em;
  border-radius: 0.8em;
  overflow: hidden;
  box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.6);
  position: relative;
}
.img-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 300%;
  height: 100%;
  transition: 0.4s ease-in-out;
}
.img:nth-child(1) {
  background: url(images/landing/monster4.jpg);
}

.img:nth-child(2) {
  background: url(images/landing/monster3.jpg);
}

.img:nth-child(3) {
  background: url(images/landing/monster5.jpg);
}

.img-container .img {
  width: 100%;
  background-size: cover;
}

.caption {
  background: linear-gradient(
     0deg,
     rgba(0,0,0,1),
     rgba(0,0,0,0)
     
  );
  width: 100%;
  padding: 1em 1em 0.5em 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em;
}

.pagination span {
  background: #111;
  box-shadow: 
  inset -1px -1px #555,
  inset 1px 1px #000;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  cursor: pointer;
}

.pagination .active {
  background: #fff;
  box-sizing: 0 0 0.5em #0352fc;
}

@keyframes textChange {
  50% {bottom: -5em;}
  100% {bottom: 0;}
}






/* Section 5 */
.section-5 {
  position: relative;
  height: 100vh;
  flex-direction: column;
}

/* Form */
.form-heading {
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
  font-weight: 400;
  color: #9b0e0e;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  transition: opacity 0.3s;
}

.contact-form {
  flex-direction: column;
}

.contact-form-input {
  width: 60rem;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.1rem solid #9b0e0e;
  font-size: 1.7rem;
  font-weight: bold;
  color: #aaa;
  letter-spacing: 0.1rem;
  height: 5rem;
}

.contact-form-textarea {
  height: 20rem;
  resize: none;
}

.form-submit-btn {
  width: 20rem;
  height: 5rem;
  background-color: #9b0e0e;
  border: none;
  align-self: flex-start;
  font-size: 1.8rem;
  color: #fff;
}
@media (max-width: 1500px) {
  .circle {
    width: 15rem;
    height: 15rem;
  }

  .main-circle {
    width: 45rem;
    height: 45rem;
  }

  .main-circle:hover {
    width: 55rem;
    height: 55rem;
  }

  .main-circle img {
    width: 160%;
    height: 160%;
  }

  .about-me-text span {
    font-size: 11rem;
  }

}

@media (max-width: 1350px) {
  .main-btn {
    width: 12.5rem;
    height: 12.5rem;
  }

  .circle {
    display: none;
  }

@media (max-width: 1150px) {
  html {
    font-size: 55%;
  }

  .mouse-circle,
  .mouse-dot {
    display: none;
  }

  .navbar-link {
    margin: 0 2rem;
  }

  .main-circle {
    width: 40rem;
    height: 40rem;
  }

  .main-circle:hover {
    width: 45rem;
    height: 45rem;
  }
}
}

@media (max-width: 900px) {
  .menu-icon {
    right: -4rem;
  }

  .navbar-link {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 50%;
  }

  .contact-form-input {
    width: 50rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }

  .main-circle img {
    width: 180%;
    height: 180%;
  }

  .service-btn span {
    font-size: 4.5rem;
  }

  .contact-form-input {
    width: 40rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 35%;
  }

  .logo {
    font-size: 1.7rem;
    top: 13rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar {
    justify-content: center;
    padding: 0;
  }

  .main-circle {
    width: 38rem;
  }

  .main-circle:hover {
    width: 42rem;
  }

  .main-circle img {
    width: 200%;
    height: 200%;
  }

  .form-heading {
    font-size: 5rem;
  }
}

